# Place MGTs
#INST "PMC_CC/RIOS0/i_mgt" LOC=GT_X0Y1;
#INST "PMC_CC/RIOS1/i_mgt" LOC=GT_X1Y1;
#INST "PMC_CC/RIOS2/i_mgt" LOC=GT_X2Y1;
#INST "PMC_CC/RIOS3/i_mgt" LOC=GT_X3Y1;
#
#INST PMC_CC/RIOS0/phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_0_GRP";
#AREA_GROUP "PHASE_ALIGN_0_GRP" RANGE=SLICE_X14Y152:SLICE_X15Y153;
#INST PMC_CC/RIOS1/phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_1_GRP";
#AREA_GROUP "PHASE_ALIGN_1_GRP" RANGE=SLICE_X38Y152:SLICE_X39Y153;
#INST PMC_CC/RIOS2/phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_2_GRP";
#AREA_GROUP "PHASE_ALIGN_2_GRP" RANGE=SLICE_X50Y152:SLICE_X51Y153;
#INST PMC_CC/RIOS3/phase_align_i/phase_align_flops_r* AREA_GROUP="PHASE_ALIGN_3_GRP";
#AREA_GROUP "PHASE_ALIGN_3_GRP" RANGE=SLICE_X74Y152:SLICE_X75Y153;
#
#NET "PMC_CC/RIOS?/rx_rec_clk_i" TNM_NET = mgt_rec_clks;
#TIMESPEC "TS_mgt_rec_clks" = PERIOD "mgt_rec_clks" 106.25 MHz HIGH 50 %;
