######################### PIN ASSIGNMENTS #############################
### LOCAL BUS ###
NET "LCLK" LOC = "AJ15" | IOSTANDARD = LVCMOS33;
NET "nCS<0>" LOC = "U1" | IOSTANDARD = LVCMOS33;
NET "nREADY" LOC = "V1" | IOSTANDARD = LVCMOS33;
NET "nLBE<0>" LOC = "T6" | IOSTANDARD = LVCMOS33;
NET "nCS<1>" LOC = "T3" | IOSTANDARD = LVCMOS33;
NET "nBTERM" LOC = "U2" | IOSTANDARD = LVCMOS33;
NET "nLBE<3>" LOC = "T7" | IOSTANDARD = LVCMOS33;
NET "LINTi<2>" LOC = "T8" | IOSTANDARD = LVCMOS33;
NET "LWnR" LOC = "V2" | IOSTANDARD = LVCMOS33;
NET "nWR" LOC = "W2" | IOSTANDARD = LVCMOS33;
NET "nRD" LOC = "W1" | IOSTANDARD = LVCMOS33;
NET "nBLAST" LOC = "Y1" | IOSTANDARD = LVCMOS33;
NET "nLBE<2>" LOC = "U7" | IOSTANDARD = LVCMOS33;
NET "nLBE<1>" LOC = "V6" | IOSTANDARD = LVCMOS33;
NET "nADS" LOC = "Y2" | IOSTANDARD = LVCMOS33;
NET "LINTi<1>" LOC = "V7" | IOSTANDARD = LVCMOS33;
NET "ALE" LOC = "Y4" | IOSTANDARD = LVCMOS33;
NET "LAD<0>" LOC = "AA1" | IOSTANDARD = LVCMOS33;
NET "LAD<1>" LOC = "AA2" | IOSTANDARD = LVCMOS33;
NET "LAD<2>" LOC = "AB1" | IOSTANDARD = LVCMOS33;
NET "LAD<3>" LOC = "AB2" | IOSTANDARD = LVCMOS33;
NET "LAD<4>" LOC = "AC2" | IOSTANDARD = LVCMOS33;
NET "LAD<5>" LOC = "AD6" | IOSTANDARD = LVCMOS33;
NET "LAD<6>" LOC = "AG5" | IOSTANDARD = LVCMOS33;
NET "LAD<7>" LOC = "AG2" | IOSTANDARD = LVCMOS33;
NET "LAD<8>" LOC = "AG1" | IOSTANDARD = LVCMOS33;
NET "LAD<9>" LOC = "AG3" | IOSTANDARD = LVCMOS33;
NET "LAD<10>" LOC = "AH1" | IOSTANDARD = LVCMOS33;
NET "LAD<11>" LOC = "AH2" | IOSTANDARD = LVCMOS33;
NET "LAD<12>" LOC = "AH5" | IOSTANDARD = LVCMOS33;
NET "LAD<13>" LOC = "AH4" | IOSTANDARD = LVCMOS33;
NET "LAD<14>" LOC = "AC4" | IOSTANDARD = LVCMOS33;
NET "LAD<15>" LOC = "AC3" | IOSTANDARD = LVCMOS33;
NET "LAD<16>" LOC = "AD5" | IOSTANDARD = LVCMOS33;
NET "LAD<17>" LOC = "AB3" | IOSTANDARD = LVCMOS33;
NET "LAD<18>" LOC = "AA6" | IOSTANDARD = LVCMOS33;
NET "LAD<19>" LOC = "AA5" | IOSTANDARD = LVCMOS33;
NET "LAD<20>" LOC = "AA4" | IOSTANDARD = LVCMOS33;
NET "LAD<21>" LOC = "W4" | IOSTANDARD = LVCMOS33;
NET "LAD<22>" LOC = "W3" | IOSTANDARD = LVCMOS33;
NET "LAD<23>" LOC = "V4" | IOSTANDARD = LVCMOS33;
NET "LAD<24>" LOC = "V3" | IOSTANDARD = LVCMOS33;
NET "LAD<25>" LOC = "U4" | IOSTANDARD = LVCMOS33;
NET "LAD<26>" LOC = "U3" | IOSTANDARD = LVCMOS33;
NET "LAD<27>" LOC = "Y5" | IOSTANDARD = LVCMOS33;
NET "LAD<28>" LOC = "T4" | IOSTANDARD = LVCMOS33;
NET "LAD<29>" LOC = "U5" | IOSTANDARD = LVCMOS33;
NET "LAD<30>" LOC = "T5" | IOSTANDARD = LVCMOS33;
NET "LAD<31>" LOC = "V5" | IOSTANDARD = LVCMOS33;
### PMC Interface ###
NET "PMCIO<0>" LOC = "AH29"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<1>" LOC = "AH26"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<2>" LOC = "AH30"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<3>" LOC = "AG26"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<4>" LOC = "AG29"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<5>" LOC = "AG28"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<6>" LOC = "AG30"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<7>" LOC = "AC27"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<8>" LOC = "AD25"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<9>" LOC = "AC28"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<10>" LOC = "AD26" | IOSTANDARD = LVCMOS33;
NET "PMCIO<11>" LOC = "AB27" | IOSTANDARD = LVCMOS33;
NET "PMCIO<12>" LOC = "AC29" | IOSTANDARD = LVCMOS33;
NET "PMCIO<13>" LOC = "AB28" | IOSTANDARD = LVCMOS33;
NET "PMCIO<14>" LOC = "AB29" | IOSTANDARD = LVCMOS33;
NET "PMCIO<15>" LOC = "AA27" | IOSTANDARD = LVCMOS33;
NET "PMCIO<16>" LOC = "AB30" | IOSTANDARD = LVCMOS33;
NET "PMCIO<17>" LOC = "AA28" | IOSTANDARD = LVCMOS33;
NET "PMCIO<18>" LOC = "AA29" | IOSTANDARD = LVCMOS33;
NET "PMCIO<19>" LOC = "Y27"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<20>" LOC = "AA30" | IOSTANDARD = LVCMOS33;
NET "PMCIO<21>" LOC = "W27"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<22>" LOC = "Y29"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<23>" LOC = "W28"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<24>" LOC = "Y30"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<25>" LOC = "V27"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<26>" LOC = "W29"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<27>" LOC = "V28"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<28>" LOC = "W30"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<29>" LOC = "U27"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<30>" LOC = "V29"  | IOSTANDARD = LVCMOS33;
NET "PMCIO<31>" LOC = "V30"  | IOSTANDARD = LVCMOS33;
NET "nPIF<0>"   LOC = "AJ22" | IOSTANDARD = LVCMOS33;
NET "nPIF<0>" PULLUP;
NET "nPIF<1>"   LOC = "AG23" | IOSTANDARD = LVCMOS33;
NET "nPIF<1>" PULLUP;
NET "nPIF<2>"   LOC = "AF23" | IOSTANDARD = LVCMOS33;
NET "nPIF<2>" PULLUP;
NET "nPIF<3>"   LOC = "AE23" | IOSTANDARD = LVCMOS33;
NET "nPIF<3>" PULLUP;
NET "nPIFHANDLE" LOC = "AK23" | IOSTANDARD = LVCMOS33;
NET "nPIFHANDLE" PULLUP;
NET "PMCIFON" LOC = "AJ23" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
### LEDs ###
NET "nLED<0>" LOC = "G26" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "nLED<1>" LOC = "G25" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "nLED<2>" LOC = "K25" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
NET "nLED<3>" LOC = "K26" | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;
### Micrel SY87739L ###
NET "CGLOCK" LOC = "D5" | IOSTANDARD = LVCMOS33;
NET "CGSK" LOC = "C2" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "CGDI" LOC = "C1" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;
NET "CGCS" LOC = "D3" | IOSTANDARD = LVCMOS33 | DRIVE = 2 | SLEW = SLOW;

