# Place MGTs
INST "i_fofb_cc_top_wrapper/i_fofb_cc_top/MGT_LANE/MGT_TILES0/MGT_INST" LOC=GT_X0Y1;
INST "i_fofb_cc_top_wrapper/i_fofb_cc_top/MGT_LANE/MGT_TILES1/MGT_INST" LOC=GT_X1Y1;
INST "i_fofb_cc_top_wrapper/i_fofb_cc_top/MGT_LANE/MGT_TILES2/MGT_INST" LOC=GT_X2Y1;
INST "i_fofb_cc_top_wrapper/i_fofb_cc_top/MGT_LANE/MGT_TILES3/MGT_INST" LOC=GT_X3Y1;

INST i_fofb_cc_top_wrapper/i_fofb_cc_top/MGT_LANE/MGT_TILES0/i_phase_align/phase_align_flops_* AREA_GROUP="PHASE_ALIGN_0_GRP";
AREA_GROUP "PHASE_ALIGN_0_GRP" RANGE=SLICE_X14Y152:SLICE_X15Y153;
INST i_fofb_cc_top_wrapper/i_fofb_cc_top/MGT_LANE/MGT_TILES1/i_phase_align/phase_align_flops_* AREA_GROUP="PHASE_ALIGN_1_GRP";
AREA_GROUP "PHASE_ALIGN_1_GRP" RANGE=SLICE_X38Y152:SLICE_X39Y153;
INST i_fofb_cc_top_wrapper/i_fofb_cc_top/MGT_LANE/MGT_TILES2/i_phase_align/phase_align_flops_* AREA_GROUP="PHASE_ALIGN_2_GRP";
AREA_GROUP "PHASE_ALIGN_2_GRP" RANGE=SLICE_X50Y152:SLICE_X51Y153;
INST i_fofb_cc_top_wrapper/i_fofb_cc_top/MGT_LANE/MGT_TILES3/i_phase_align/phase_align_flops_* AREA_GROUP="PHASE_ALIGN_3_GRP";
AREA_GROUP "PHASE_ALIGN_3_GRP" RANGE=SLICE_X74Y152:SLICE_X75Y153;

NET "i_fofb_cc_top_wrapper/i_fofb_cc_top/MGT_LANE/MGT_TILES?/MGT_INST/rxrecclk" TNM_NET = mgt_rec_clks;
TIMESPEC "TS_mgt_rec_clks" = PERIOD "mgt_rec_clks" 106.25 MHz HIGH 50 %;
